<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvcv5:war exploded">
    <output-path>$PROJECT_DIR$/target/springmvcv5-0.0.1-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springmvcv5</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvcv5" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springmvcv5-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvcv5/web/Web" />
    </root>
  </artifact>
</component>