<!DOCTYPE html>
<html xmlns:tl="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de empleados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .thead {
            color: #fff;
            background-color: #2e5d94;
        }

        .btn {
            color: white;
            background-color: #2e5d94;
            border: 0px solid;
        }

        #acc {
            width: 25%;
        }
    </style>
</head>
<body>
<div>
    <div class="container">
        <h1 class="text-center">Gestión de nominas</h1>
    </div>
    <div class="container">
        <table class="table text-center table-bordered">
            <thead class="thead">
            <tr tl:if="${!empleados.isEmpty()}">
                <th>Nombre</th>
                <th>DNI</th>
                <th>Sexo</th>
                <th>Categoría</th>
                <th>Años</th>
                <th colspan="2">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr tl:each="empleado : ${empleados}">
                <td tl:text="${empleado.nombre}"></td>
                <td tl:text="${empleado.dni}"></td>
                <td tl:text="${empleado.sexo}"></td>
                <td tl:text="${empleado.categoria}"></td>
                <td tl:text="${empleado.antiguedad}"></td>
                <td colspan="2" id="acc">
                    <a tl:action="@{/controlador/actualizar}" class="btn btn-warning">Actualizar</a>
                    <a tl:action="@{/controlador/eliminar}" class="btn btn-danger"
                       onclick="if (!(confirm('¿Seguro que quieres eliminar a ${empleado.nombre}?'))) return false">Eliminar</a>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="container">
            <a href="formulario" class="btn btn-primary">Añadir empleado</a>
        </div>
        <div class="container card col-md-5 justify-content-center">
            <form tl:action="@{/controlador/salario}" method="post">
                <div class="container">
                    <br>
                    <h3>DNI</h3>
                    <input pattern="\d{8}[A-HJ-NP-TV-Z]" type="text" placeholder="Introduce el dni" name="dniEmpleado"
                           class="form-control" required="required"/>
                    <br>
                    <input type="submit" class="btn btn-success" value="Mostrar salario"/>
                    <br>
                    <br>
                </div>
            </form>
            <div>
            </div>
            <div tl:if="${nombre != null}">
                <p tl:text="${nombre}">Nombre:</p>
                <p tl:text="${sueldo}">Salario:</p>
            </div>
        </div>

    </div>

</div>
</body>
</html>